# Python server
server/.env
server/__pycache__/
server/*.pyc
server/proxy.log
server/.venv/

# Android/Gradle
/local.properties
/.gradle/
/build/
app/build/
*.iml
.idea/
app/voice.properties

# OS
.DS_Store
Thumbs.db

